body {
    margin: 0;
    padding: 10px;
    background-color: #FFF9FF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Cantarell';
    color: rgb(34, 1, 34);
    cursor:grab;
}

a{
    text-decoration: none;
    color: rgb(34, 1, 34);

}

.poller-one-regular {
    font-family: "Poller One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cantarell-regular {
    font-family: "Cantarell", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cantarell-bold {
    font-family: "Cantarell", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.cantarell-regular-italic {
    font-family: "Cantarell", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.cantarell-bold-italic {
    font-family: "Cantarell", sans-serif;
    font-weight: 700;
    font-style: italic;
}

h1 {
    font-family: 'Poller One';
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    align-items: center;
}

li{
    list-style: none;
}

button{
    font-family: 'Cantarell';
    box-shadow: 2px 5px #C8A2C8;
    border: 1px solid #C8A2C8;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    width: 55px;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}
button:hover {
    width: 60px;
}

#input-form {
    font-family: 'Cantarell';
    box-shadow: 2px 5px #C8A2C8;
    border: 1px solid #C8A2C8;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    width: 105px;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}
#input-form:hover{
    width: 110px;
}
.pdfs, .btn-li{
    width: 100px;
}
.pdfs:hover{
    width: 105px;
}

.btn-li:hover{
    width: 105px;
}

#Netlify-Icon--Streamline-Svg-Logos{
    height: 15px;
    width: 15px;
}

#main-index {
    display: flex;
    align-items: center;
    height: 80vh;
}

span:hover {
    text-decoration: underline;
}

#main-contact {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    border: 1px solid #C8A2C8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 10px #C8A2C8;
    align-items: center;
}

#name,
#lastname,
#email {
    width: 250px;
    height: 20px;
    margin: 20px;
    border: 0.5px solid #C8A2C8;
    padding: 5px;
    border-radius: 5px;
}

#email:hover {
    border: 2px solid #c99ac9;
}

#lastname:hover {
    border: 2px solid #c99ac9;
}

#name:hover {
    border: 2px solid #c99ac9;
}

#msg {
    width: 250px;
    height: 100px;
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
    border: 0.5px solid #C8A2C8;
    resize: none;
}

#msg:hover {
    border: 2px solid #c99ac9;
}

#submit {
    border: 0.5px solid #C8A2C8;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
}

#submit:hover {
    border: 2px solid #C8A2C8;
    background-color: rgb(230, 228, 228);
}

#about-me {
    width: 600px;
    padding: 20px;
}

#pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pic-profile {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin: 20px;
    box-shadow: 2px 5px #C8A2C8;
    border: 1px solid #C8A2C8;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}
#pic-profile:hover{
    width: 360px;
    height: 360px;
}

#main-proyects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#div-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
}

.div-p {
    height: 260px;
    width: 260px;
    border-radius: 5px;
    box-shadow: 2px 5px #C8A2C8;
    border: 1px solid #C8A2C8;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.div-p:hover {
    width: 265px;
    height: 265px;
}

.div-p img {
    width: 100%;
    height: 100%;
}

.div-p p {
    text-align: center;
    padding: 10px;
}

footer{
    width: 100%;
    align-items:start;
}
